<!-- import template to inject content block into -->
{% extends 'polls/base.html' %}

<!-- content block begins -->
{% block main_content %}

<!-- If latest_question_list is defined, we have instances of the Question model -->
{% if latest_question_list %}
    <!-- enclose all printed question text values in an unordered list -->
    <ul>
        <!-- for each question in latest_question_list... -->
        {% for question in latest_question_list %}
            <!-- ...display the text of the question in the list -->
            <li>
                <!--
                We are referencing the url route with the name "detail" in urls.py (in the polls app namespace),
                the view that connects to it, and the parameter question that we can call the id property off of.
                The question.id is needed for the route to be the parameter for '<int:question_id>'. Also note that
                id's start at 1 and go up from there when retrieved from Model instances -->
                <a href = "{% url 'polls:detail' question.id %}">
                    <!--
                    Double nested curly braces are used for injecting variables into HTML fields.
                    Here we print the current Question model instances' text value -->
                    <b>{{question.question_text}}</b>
                </a>
            </li>
        {% endfor %}
    </ul>
<!-- If latest_question_list is undefined, we have no instances of the Question model -->
{% else %}
    <p>You don't have any questions. Please add some.</p>
{% endif %}

<!-- content block ends -->
{% endblock %}